[submodule "src/coldbrew"]
	path = src/coldbrew
	url = git@github.com:Essenceia/Until_Heat_Death_Do_Us_Part.git
[submodule "expresso"]
	path = expresso
	url = git@github.com:Essenceia/Expresso_ASIC_Chip.git
[submodule "teapot"]
	path = teapot
	url = git@github.com:Essenceia/Teapot.git
[submodule "coldbrew"]
	path = coldbrew
	url = git@github.com:Essenceia/Until_Heat_Death_Do_Us_Part.git
[submodule "coffeepot"]
	path = coffeepot
	url = git@github.com:Essenceia/ethernet_switch_asic.git
